.calculator_button{
    width: 100px;
    height: 80px;
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
    border-radius: 15px;
    font-size: 40pt;
    outline: none;
}

#result{
    font-size: 40pt;
    text-align: right;
}

#zero{
    width: 203px;
}

#calculate{
    position: absolute;
    left: 116px;
    width: 302px;
}